---
---


<!DOCTYPE html>
<html class="no-js" lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} | XR</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ site.base_url }}/styles/xr.css" />
  </head>
  <body>
    <a class="logo" href="#/">XR</a>
    <nav class="top-nav">
      <ul>
        {% for node in site.pages %}
          <li><a href="{{ node.url }}"
          {% if page.url == node.url %}
            class="active"
          {% endif %}
          >{{ node.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <div>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
  </body>
</html>
